.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .content {
    width: 350px;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal .content img{
    width: 100px;
    height: auto;
}