.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .content {
    width: 350px;
    /* height: 50vh; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
    padding: 8px 24px 32px 24px;
}

.modal .content img {
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 12px;
    padding: 12px;
    transition: transform ease 0.3s;
}

.modal .content img:hover {
    transform: scale(1.1);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.card-content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-content p {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.card-content .detail span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 4px;
    min-width: 96px;
    text-align: center;
}

.Fire {
    color: black;
    background-color: orange;
}

.Bug {
    color: white;
    background-color: green;
}

.Water {
    color: white;
    background-color: rgb(47, 47, 247);
}

.Flying {
    color: black;
    background: linear-gradient(to bottom, #99ccff, #ffcccc)
}

.Poison {
    color: white;
    background-color: palevioletred;
}

input {
    outline: none;
    border: none;
}

input.itemName {
    color: black;
    background: none;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.detail input{
    padding: 4px 16px;
}