.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 60px;
}
.card .image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;
}
.card img{
    width: 100%;
    object-fit: cover;
}

.tag {
    color: red;
    background-color: antiquewhite;
}

.name {
    font-weight: 900;
    font-size: 28px;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.detail div {
    width: 50%;
    border-radius: 4px;
    padding: 8px 8px;
    text-align: center;
}

.Grass{
    color: white;
    background-color: green;
}

.Fire{
    color: black;
    background-color: orange;
}
.Bug{
    color: white;
    background-color: green;
}
.Water{
    color: white;
    background-color: rgb(47, 47, 247);
}
.Flying{
    color: black;
    background: linear-gradient(to bottom, #99ccff,#ffcccc)
}

.Poison{
    color: white;
    background-color: palevioletred;
}